header{
  background-color: #807182;
  width: 250px;
  height: 500px;
  display: inline-block;
}

img.logo{
  width: 200px;
  position: relative;
  top: 60px;
  left: 20px;
}

img.doggy{
  position: relative;
  width: 200px;
    top: 264px;
    right: -21px;
}

h1{
  text-align: left;
  padding-left: 50px;
}

main{
  display: block;
  position: absolute;
  background-color: #F9C7C2;
  width: 575px;
  height: 500px;
  top: 8px;
  bottom: 0px;
  left: 258px;
  right: 0px;
}

.box{
  width: 100%;
  height: 100%;
}

.box_2{
  padding-left: 20px;
  height: 80px;
  display: block;
 }

 label{
  display: block;
  position: relative;
  top: 0px;
  bottom: 10px;
 }

 .text{
  display: block;
  position: relative;
  top: 5px;
  border: none;
  border-radius: 3px;
  width: 110px;
  padding: 10px;
 }

 .file_1{
  display: inline-block;
 }

 .file_2{
  width: 89px;
 }

 .left{
  display: inline-block;
 }

.right{
  display: inline-block;
  position: relative;
  left: 135px;
}

.label_1{
  position: relative;
  top: 18px;
}

 .radio__input{
  display: none;
 }

  .box_3{
  padding: 5px 0;
  overflow: hidden;
  border-radius: 3px;
  width: 156px;
  background-color: #ffffff;
  transition: background 0.1s;
  display: inline-block;
  margin-top: 5px;
 }

 .radio__label{
  display: inline-block;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 2px;
  margin-left: 5px;
 }

 input[type="radio"]:checked + label{
   background-color: rgb(247,177,171);
  }

  .box_4{
    display: inline-block;
    position: relative;
    
  }

  .box_5{
    padding: 5px 0;
    overflow: hidden;
    border-radius: 3px;
    width: 181px;
    background-color: #ffffff;
    transition: background 0.1s;
    display: inline-block;
    margin-top: 5px;
   }

 