@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');


body{
  font-family: 'Quicksand', sans-serif;
}


header{
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
}


.boxOne{
  display: block;
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: antiquewhite;
}


.content{
  position: relative;
  left: 240px;
  width: calc(100% - 240px);
  padding-top: 20px;
}

/* .sideBar{
  position: fixed;
} */


header .sideBar .listItem{
  list-style: none;
  padding-left: 10px;

}

.listItem li{
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}


.listItem li a{
  text-decoration: none;
  color: black;
  line-height: 3;
  display: block;
}

.listItem li a:hover{
  background: rgba(0, 0, 0, 0.3);
}


.sideBar h1{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.content p{
  display: inline-block;
}

.bold{
  width: 152px;
  font-weight: bold;
}

.grey{
  color: #999;
}

.Pav{
  font-size: 18px;
}



























/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

.boxOne{
  display: block;
  position: relative;
}

.sideBar{
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: antiquewhite;
  padding: 30px 0;
}

.content{
  display: inline-block;
  margin: 50px;
} */



