@media (min-width: 600px){
  h1{
    color: red;
  }
}

@media (min-width: 900px){
  body{
    background-color: rgba(77, 126, 126, 0.849);
  }
}

@media (min-width: 1200px){
  h1{
    color: orange;
  }
}