
body{
  background-color: black;
}

.gridBox{
  margin: 0 auto;
  width: 600px;
  height: 400px;
  display: grid;
  grid-template: 20px repeat(4, 2fr)  / repeat(4, 25%);
  gap: 5px;
}

.boxA, .boxB, .boxC, .boxD{
  border: 1px blue solid;
}

.gridBox > div:not(.boxA, .boxB, .boxC, .boxD){
  border: 1px purple solid;
}

.box1{
  grid-column: 1/4;
}

.box2{
  grid-column: 4/5;
  grid-row: 2/5;
}

.box3{
  grid-row: 5/6;
  grid-column: 2/5;
}

.box4{
  grid-row: 4/6;
}

.box5{
  grid-column: 1/3;
}

.box6{
  grid-row: 3/5;
  grid-column: 3/4;
}

.gridBox > div{
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: black;
  color: aqua;
}