
.blog {
  background-image: url(../../img/blog-bg.png);
  display: flex;
    flex-direction: column;
    align-items: center;
}

.blog_content {
  display: grid;
  grid-template: repeat(2, 1fr) / 1fr;
  gap: 2rem;
  justify-items: center;
}

.blog__content__box {
  position: relative;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.blog__images--absolute {
  width: 100%;
}

.blog__content__box__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 1s  ease-in-out;
  z-index: -1;
}

.blog__content__box:hover .blog__content__box__text {
  z-index: 100;
}

.blog__content__box-sm__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 1s ease-in-out;
  z-index: -1;
}

.blog__content__box:hover .blog__content__box-sm__text {
  z-index: 100;
}

.blog__content__box-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

@media screen and (min-width: 992px) {
  .blog_content {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    justify-items: stretch;
}
}