
.blog {
  background-image: url(../../img/blog-bg.png);
}

.blog_content {
  display: grid;
  grid-template: repeat(2, 1fr) / 1fr;
  gap: 2rem;
  justify-items: center;
}

.blog__content__box {
  position: relative;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.blog__images--absolute {
  width: 100%;
}

.blog__content__box__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 1s  ease-in-out;
  z-index: -1;
}

.blog__content__box:hover .blog__content__box__text {
  z-index: 100;
}

.blog__content__box-sm__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 1s ease-in-out;
  z-index: -1;
}

.blog__content__box:hover .blog__content__box-sm__text {
  z-index: 100;
}

.blog__content__box-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 992px) {
  .blog_content {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
}

/* @media screen and (min-width: 786px) {
  .blog__content__box__text {
    position: absolute;
    margin-top: 71%;
  }

  .blog__content__box-sm__text {
    position: absolute;
    margin-top: 27%;
}
}

@media screen and (min-width: 970px) {
  .blog__content__box__text {
    position: absolute;
    margin-top: 73%;
  }

  .blog__content__box-sm__text {
    position: absolute;
    margin-top: 30%;
  }
}

@media screen and (min-width: 1065px) {
  .blog__content__box__text {
    position: absolute;
    margin-top: 75%;
  }

  .blog__content__box-sm__text {
    position: absolute;
    margin-top: 31%;
  }
}

@media screen and (min-width: 1445px) {
  .blog__content__box__text {
    position: absolute;
    margin-top: 76%;
  }

  .blog__content__box-sm__text {
    position: absolute;
    margin-top: 33%;
  }
} */


