@media (min-width: 567px){
  .flexBox{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .menu{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
  }
}