
.contact-us {
  background-image: url(../../img/contact-bg.png);
}

.contact-us__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.content__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form__input--box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input--box-text-email {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form--submit {
  width: 9rem;
  cursor: pointer;
}

.bottom-text--link-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media screen and (min-width: 992px) {
  .contact-us__content {
    flex-direction: row;

  }
  .input--box-text-email{
    flex-direction: row;
  }
}
