
.navbar {
  height: 5rem;
}

.navbar__logo {
  aspect-ratio: 1;
  width: 125px;
  height: 32px;
}

.navbar__navigation {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  background-color: var(--background-clr);

}


.navbar__navigation--list {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .navbar__navigation--list {
    display: flex;
    background-color: var(--background-clr);
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 14px;
    justify-content: flex-end;
  }
  
}





