.gridBox{
  margin: 0 auto;
  max-width: 800px;
  height: 500px;
  display: grid;
  grid-template: 1fr 4fr  1.5fr 1.5fr 1fr  / repeat(4, 25%);
}

.gridBox > div{
  display: grid;
  align-items: center;
  justify-items: center;

}

.header{
  background-color: rgb(15,22,41);
  color: white;
}

.menu{
  grid-column: 2/5;
  background-color: rgb(239,60,79);
  color: white;
}

.hero{
  grid-column: 1/5;
  background-color: rgb(76,134,198);
  color: white;
}

.main{
  grid-column: 1/3;
  grid-row: 3/5;
  background-color: rgb(36,52,75);
  color: white;
}

.image{
  grid-column: 4/5;
  background-color: rgb(193,228,230);
}

.extra{
  grid-column: 4/5;
  background-color: rgb(77,189,151);
}

.banner{
  grid-column: 1/5;
  background-color: rgb(254,208,104);
}

