html {
 font-size: 15px;
}


/* .navbar {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.navbar__icon {
  font-size: 30px;
}

.logo {
  display: inline-block;
  text-transform: uppercase;
  width: 5.5em;
  font-size: 1.5rem;
  text-align: center;
} */






















































 


















































































/* .button{
  Pagrindinės savybės
}

.button--red{
  Papildomos raudono mygtuko savybės
}

.button--sm{
  Papildomos mažo mygtuko savybės
}

.button__text{

}

.button__icon{

} */



/* @media screen and (min-width: 576px) {
  body{
    background: #f08080;
  };
  
}

@media screen and (min-width: 768px) {
  body{
    background: #90ee90;
  };
  
}
@media screen and (min-width: 992px) {
  body{
    background: #ffa07a;
  };
  
}

@media screen and (min-width: 1200px) {
  body{
    background: #800080;
  };
   */
}